@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
	@apply text-4xl font-bold text-gray-900;
}

h2 {
	@apply text-3xl font-bold text-gray-800;
}

h1,
h2,
h3,
h4 {
	@apply tracking-tight;
}

.input-container {
	@apply flex flex-row items-center justify-between;
}

.input-container label {
	@apply min-w-36;
}

input[type='date'] {
	@apply inline-flex;
	@apply w-full;
	@apply max-w-64;
	@apply justify-center;
	@apply gap-x-1.5;
	@apply rounded-md;
	@apply bg-white;
	@apply px-3;
	@apply py-2;
	@apply text-sm;
	@apply text-gray-900;
	@apply shadow-sm;
	@apply ring-1;
	@apply ring-inset;
	@apply ring-gray-300;
	@apply hover:bg-gray-50;
}

.landing .hero-text {
	position: absolute;
	right: 20%;
	top: 20%;
	display: flex;
	flex-direction: column;
	gap: 12px;
	align-items: flex-start;
  max-width: 33%;
}

.landing .hero-img {
	background-image: url('../public/landing.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: calc(100vh - 4rem);
	z-index: -1;
}

@media (max-width: 600px) {
  .landing .hero-text {
    left: 20%;
  }
}
